:root {
	--vilagoskek: #f0f8ff;
	--sotetkek: #00008b;
	--sotetpiros: #dc143c;
}

html {
	background-image: url(bg.png);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: var(--sotetkek);
}

body {
	font-size: 11pt;
	
	margin: 0px;
	padding: 0px;

	width: 930px;
	background-color: var(--vilagoskek);
	margin: 0 auto 0 auto;

}

p{
	padding: 5px;
}

p.bev{
	font-size: small;
	font-style: italic;
}


hr {
	width: 80%;
}

h1, h2 {
	
	padding: 5px;
	color: var(--sotetpiros);
}

h2 {
	font-size: 17px;
}
	

#tartalom {
	
	margin: 0 auto 0 auto;
	text-align: left;
	
}

#oszlop1, #oszlop2, #oszlop3 {
    float: left;
    padding: 0px;
   	
	width: 33%;
}

.kep {
	width: 240px;
	border: 0;
	margin-left: 30px;
}

a, a:link, a:hover, a:active, a:visited {
	color: var(--sotetpiros)
}

#lablec {
    clear: both;
    
}

table, tr, td {
	border: 0;
}